Map of Hackathons in <%=@chosen_country%>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBYJhd0pfw8nUTDS4i0WpnXggE_crBRL0&sensor=false"/>
<script type="text/javascript">
  var geocoder = new google.maps.Geocoder();
  var map = null;
  var hacks = [];
  var myOptions = {
    zoom: 4,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
  };

  <% @filtered_hacks.each do |hack| -%>
  hacks[hacks.length]=<%=hack.to_json.html_safe%>;
  <% end -%>

  function addHackathons() {
    for (hackIndex in hacks) {
      var hack=hacks[hackIndex];
      codeAddress(hack.location.city+", "+hack.location.state+" "+hack.location.country, hackIndex);
    }
  }

  function showDetails(marker, whichMarker) {
    var hack=hacks[whichMarker];
    var data="<img height='70' src='"+hack.logo+"'><p><a href='/hackathons/"+hack.id+"/detail'>View Details</a></p><p><a href='"+hack.external_url+"'>"+hack.name+"</a></p><p>"+hack.description+"</p>";
    var infowindow = new google.maps.InfoWindow({
      content: data
    });
    infowindow.open(map,marker);
  }

  function codeAddress(address, hackIndex) {
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            animation: 'bounce',
            clickable: true,
            title: hacks[hackIndex].name
        });
        google.maps.event.addListener(marker, 'click', function() {
          showDetails(marker, hackIndex);
        });
      }
    });
  }

  function createMap() {
    map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
    setTimeout("addHackathons()", 1000);
  }

  /**
   * Load the map using the country as the center point.  But only load map
   * after the latlong has been retrieved for the country.  Otherwise it will
   * jump around from start center to the desired center.
   */
  function initialize() {
    var chosenCountry='<%=@chosen_country%>';
    if (chosenCountry=='') {
      myOptions.zoom=1;
      chosenCountry="US";
    }

    geocoder.geocode({
        'address': chosenCountry
      },
      function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          myOptions.center=results[0].geometry.location;
          createMap();
        }
      }
    );
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas"/>